.products {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.product{
  width: 30%;
  height: 500px;
  margin: 10px;
  border: 1px solid black;
  text-align: center;
}

body{
  /* background-color: aqua; */
}
.product img{
  width: 70%;
  height: 40%;
  
} 
button{
  cursor: pointer;
  padding: 10px 45px;
  background-color:greenyellow;
}
.money h1{
  width: 100%;
  /* color: red; */
  text-align: center;
}